<h2><u>Projects in Progress<h2>
<% @projects.each do | project | %>
<% if project.done == false  %>
<div class="column size-1of3 panel panel-default" id="userspanel">
   
   <div class="panel-heading">
      <h4 class="panel-title"><%= project.title %></h4>
  </div>
  	<% unless project.posts.first.nil?%>
      <div class="panel-image"><%= link_to image_tag(project.posts.first.post_img.url(:s_150)), project_path(project) %></div>
     <% end %>
  </div>
    <%end %>
<% end %>