<div class="clearfix">
  <% if params[:view] == 'portfolio' %>
    <%= render 'portfolioindex', collection: @projects %>
  <% elsif params[:view] == 'current_projects' %>
    <%= render 'projects_in_progress' %>
  <% else %>
    <%= render 'aboutme' %>
  <% end %>
</div>