<div class="well clearfix">
        <b>About:</b>
         <% if @user == current_user %>
            <%= current_user.about %>
            <% else %>
           <%= @user.about %>
            <% end %>
        
        
    </div>
<div>

<%= render 'portfolioindex', collection: @projects %>

</div>