<div class="col-md-3">
</div>
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">Sign Up</div>
    <div class="panel-body">
      <%= yield %>
    </div>
  </div>
</div>
<div class="col-md-3">
</div>