<h3>Ongoing projects</h3>
<%= link_to 'New Project', new_project_path %>

<hr>

<table>
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
    <% @projects.each_with_index do |project| %>
      <tr>

        <td><strong><%= project.title %></strong></td>


      </tr>
    <% end %>
  </tbody>
</table>


