/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require recurring_select
 *= require jquery.ui.datepicker
 *= require_self
 *= require load_bootstrap
 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require_tree .
 */


.special,
.col-md-3 { height: inherit; }
.col-md-6 { height: inherit; }
.img-polaroid {
	border-radius: 5px;
	box-shadow: 2px 2px 1px #888888;
}

body { padding-top: 100px; background-color:#ccc; height: 100%;
    width: 100%;
    position: absolute; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
form {  padding:50px;  background-color:#fff;}
.unique { background-image: url(/assets/Watercolors-Morning-Mist-Temple-Waterfalls-1440x2560.jpg); }

.content {font-family: verdana, arial, helvetica, sans-serif;}
#shortquote { color: #FFF;
border-left: 0;}

#bottom{
	width: 50%;
	bottom: 0;
	left: 50%;
	opacity: 1;
	-webkit-transform: translateX(-50%);
	-webkit-transform-origin: 50% 50%;
}


/* just some styling for the text in posts */
#post_text {
	padding: 4%;
	font-size: 1.3em;
	color: #858585;
}


/* annotation OVERLAY */

.insideWrapper{ 
    width:100%; height:100%; 
    position:relative;}
.coveredImage{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}
.coveringCanvas {
	width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,.1);
}

.testing {

}


.sketch_canvas {
	
}

