/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#goals .calendar {
  border-collapse: collapse;
  width: 100%;
}
#goals .calendar td, #goals .calendar th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}
#goals .calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}
#goals .calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}
#goals .calendar .notmonth, #goals .calendar .notmonth a {
  color: #CCC;
}
#goals .calendar .today {
  background-color: #D7F2FF;
}

#goals #week {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
}
#goals #week a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#goals ul {
  font-size: 11px;
  padding-left: 20px;
}

.goal_form {
  padding: 0;
  border: 0;
  margin: 0 0 0 0;
  display: inline-block;
}


.rs_dialog_holder {
  z-index: 1324132412312;
}