/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#goals .calendar {
  border-collapse: collapse;
  width: 100%;
}
#goals .calendar td, #goals .calendar th {
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}
#goals .calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}
#goals .calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}
#goals .calendar .notmonth, #goals .calendar .notmonth a {
  color: #CCC;
}
#goals .calendar .today {
  background-color: #D7F2FF;
}

#goals #week {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
}
#goals #week a {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#goals ul {
  font-size: 11px;
  padding-left: 20px;
}

.goal_form {
  padding: 0;
  border: 0;
  margin: 0 0 0 0;
  display: inline-block;
}


.rs_dialog_holder {
  z-index: 1324132412312;
}

.checkbox-container { width: 100%; height: 30px; padding: 0 0 0 10px; margin: 5px 0 0 0; border-radius: 3px; background-color: #e5e5e5; }
.checkbox-container label { float: left; padding: 0; margin-top: 7px; }
.checkbox-container label .checkBoxTitle {width: 200px; margin-top: -1px; font-size: 12px;}

.newCheck[type="checkbox"]:not(:checked), .newCheck[type="checkbox"]:checked { position: absolute; left: -9999px;}
.newCheck[type="checkbox"]:not(:checked) + label, .newCheck[type="checkbox"]:checked + label { width: 150px; position: absolute; cursor: pointer; }
.newCheck[type="checkbox"]:not(:checked) + label:before, .newCheck[type="checkbox"]:checked + label:before { content: ''; position: absolute; left: 0; top: -1px; width: 17px; height: 17px; border: 1px solid #aaa; background: #f8f8f8; border-radius: 3px; box-shadow: inset 0 1px 3px rgba(0,0,0,.1);}
.newCheck[type="checkbox"]:not(:checked) + label:after, .newCheck[type="checkbox"]:checked + label:after { content: '\f00c'; font-family: FontAwesome; padding-right: 5px; position: absolute; top: -8px; left: 0;  font-size: 20px; color: #555;}
.newCheck[type="checkbox"]:not(:checked) + label:after { opacity: 0;}
.newCheck[type="checkbox"]:checked + label:after { opacity: 1;}
.newCheck[type="checkbox"]:checked + label span, .newCheck[type="checkbox"]:not(:checked) + label span { position:absolute; left:25px; }