// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stats {
  text-align:center;
  text-shadow:1px 1px 0px #fff;
  margin-top:25px;  
  margin-bottom:25px;  
  
}
.stats li{
  width:125px; 
}
.stats span{
  font-family:Helvetica;
  font-weight:bold;
  text-shadow:1px 1px 0px #fff;
  font-size:4em;
  
  display:block;
  line-height:1em;
}



/* Large desktop */
@media (min-width: 1200px) { 
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  .profile img{
    width:75px;
  }
  .profile h2{
    font-size:1.7em;
  }
  .stats span{
    font-size: 2em;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
}                    
