salvattore.css/*
   Spezific styling for salvattore
   Feel free to edit it as you like
   More info at http://salvattore.com
 */

/* Base styles */
/* Salvattore Base Styles */
.column {
    float: left;
}
.size-1of4 {
    width: 20%;
}
.size-1of3 {
    width: 20%;
}
.size-1of2 {
    width: 20%;
}

.post img {
    width: 100%;
}
 
.post{
  background: #ffffff;
  margin: 10px 0px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  z-index: 999;
}


/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
    #posts[data-columns]::before {
        content: '2 .column.size-1of2';
    }
    .post{
    	padding: 15px;
    }
}
 
@media screen and (min-width: 451px) and (max-width: 850px) {
    #posts[data-columns]::before {
        content: '3 .column.size-1of3';
    }
    .post{
    	padding: 9.9px;
    }
}
 
@media screen and (min-width: 851px) {
    #posts[data-columns]::before {
        content: '4 .column.size-1of4';
    }
    .post{
    	padding: 7.5px;
    }
    
}